:root {
    --text: rgb(47, 45, 193);
    --navlink-color: skyblue;
}

body {
    height: 100%;
    width: 100%;
    background-image: url("../images/bodybackground.jpg");
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

html {
    scroll-behavior: smooth;
}

p {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    margin-left: 50px;
    font-size: 125%;
    text-align: center;
    font-weight: bold;
    line-height: 2.5;
}

h1 {
    font-size: 200%;
}

h2 {
    font-size: 180%;
    /* float: left; */
    margin: 90px 50px;
}

nav ul {
    display: flex;
    justify-content: center;
    min-width: 500px;
    margin-left: 15px;
}

nav a {
    background-color: unset;
    color: var(--text);
    font-weight: bold;
    text-decoration: none;
}

nav a:hover {
    color: var(--navlink-color);
}

header {
    font-size: 32px;
    color: var(--text);
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100px;
    margin-left: 25px;
}

nav li {
    display: inline-block;
    margin-right: 20px;
    color: var(--navlink-color);
    font-size: 24px;
    font-family: Arial, Helvetica, sans-serif;
}

.section1 {
    display: flex;
    align-items: center;
    border: 3px dashed black;
    margin-top: 20px;
    height: 200px;
    width: 95%;
    margin-bottom: 2%;
    margin-left: 30px;
    border-radius: 15px;
    text-align: center;
    box-shadow: 10px 10px 20px 5px grey;
}

.section1 img {
    height: 90%;
    width: 10%;
    max-height: 200px;
    margin-right: 25px;
    margin-top: 10px;
    border-radius: 15px;
}

.section2 {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border: 3px dashed black;
    margin-top: 20px;
    height: 400px;
    width: 95%;
    margin-bottom: 2%;
    margin-left: 30px;
    border-radius: 15px;
    box-shadow: 10px 10px 20px 5px grey;
}

.work-parent {
    display: flex;
    flex-wrap: wrap;
    /* border: 3px solid black; */
    height: 100%;
    width: 700px;
    margin-right: 275px;
}

.work {
    height: 150px;
    width: 300px;
    margin: 15px;
    border-radius: 15px;
}

#horiseon {
    background-image: url("../images/horiseon.jpg");
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
}

#prework {
    background-image: url("../images/prework.jpg");
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    width: 630px;
}

#example3 {
    background-color: black;
}

#about-me{
    text-align: center;
}

.section3 {
    display: flex;
    justify-content: space-between;
    border: 3px dashed black;
    margin-top: 20px;
    height: 200px;
    width: 95%;
    margin-left: 30px;
    border-radius: 15px;
    box-shadow: 10px 10px 20px 5px grey;
}

.header-contact {
    /* border: 3px solid black; */
    text-align: center;
}

.contact-info {
    display: flex;
    /* border: 3px solid black; */
    margin-right: 450px;
    align-items: center;
    flex-direction: column;
    justify-content: center;
   text-align: center; 
    font-size: 125%;
    line-height: 3;
    font-weight: bold;
}

.contact-info a:hover {
    color: var(--navlink-color);
}

.section3 a {
    text-decoration: none;
}

#horiseon:hover {
    opacity: .5;
}

#prework:hover {
    opacity: .5;
}


@media and (max-width: 992px) {
    
}

@media screen and (max-width: 768px) {

}